<html lang="en-us" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

  <meta name="description" content="">
  <meta name="author" content="">
  <meta charset="utf-8">
  <meta name="robots" content="NONE,NOARCHIVE" />
  <title>首页 | 石园南社区党员积分系统</title>

</head>
<body>
<h1 align="center" style="text-align:center;">
	中共北京市石园街道石园南区党总支<span></span>
</h1>
<p class="MsoNormal" align="left">
	上级党组织：石园街道工委<span></span>
</p>
<p class="MsoNormal" align="left">
	下 设 支 部：社区党支部、离退休老干部党支部、非公企业联合党支部<span></span>
</p>
<p class="MsoNormal" align="left">
	书 <span>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>记：靳玉欣<span>&nbsp;&nbsp; </span>副书记：王艳丽<span>&nbsp; </span>组织委员：马会娟<span>&nbsp;&nbsp;&nbsp; </span>纪检委员：解晓莉<span>&nbsp; </span>宣传委员：李燕<span>&nbsp;</span>
</p>
<hr />
<div class="container">

<span class="sanhengpai">
    <h2 align="center" style="text-align:center;">
	    社区党支部<span></span>
    </h2>
    <p class="MsoNormal">
        上级党组织：石园街道石园南区党总支<span></span>
    </p>
    <p class="MsoNormal" align="left">
        书<span>&nbsp;&nbsp; </span>记：王艳丽 <br>
        副书记：李燕 <br>
        委<span>&nbsp;&nbsp; </span>员：解晓莉<span>&nbsp; </span>马会娟<span>&nbsp;</span>蔡志勇<span>&nbsp;</span>
    </p>
    <p class="MsoNormal" align="left">
        正式党员：<span>&nbsp; <span style="color:#E53333;">{{ data.community.0 }}</span></span>人<span>&nbsp;&nbsp; </span><br>
        预备党员：<span>&nbsp;<span style="color:#E53333;">{{ data.community.1 }}</span>&nbsp;&nbsp;</span>人<span>&nbsp;&nbsp; </span><br>
        共 计<span>: <span style="color:#E53333;">{{ data.community.2 }}</span>&nbsp;</span>人<span></span>
    </p>
</span>

<span class="sanhengpai">
    <h2 align="center" style="text-align:center;">
	    离退休老干部党支部<span></span>
    </h2>
    <p class="MsoNormal">
        上级党组织：石园街道石园南区党总支<span></span>
    </p>
    <p class="MsoNormal" align="left">
        书<span>&nbsp; </span>记：李会芹<br>
        委<span>&nbsp; </span>员：王艳丽<span>&nbsp; </span>刘士元 <span>&nbsp;</span>
    </p>
    <p class="MsoNormal" align="left">
        正式党员：<span>&nbsp; <span style="color:#E53333;">{{ data.retired.0 }}</span></span>人<span>&nbsp;&nbsp; </span><br>
        预备党员：<span>&nbsp;<span style="color:#E53333;">{{ data.retired.1 }}</span>&nbsp;&nbsp;</span>人<span>&nbsp;&nbsp; </span><br>
        共 计<span>: <span style="color:#E53333;">{{ data.retired.2 }}</span>&nbsp;</span>人<span></span>
    </p>
</span>

<span class="sanhengpai">
        <h2 align="center" style="text-align:center;">
	    非公企业联合党支部<span></span>
    </h2>
    <p class="MsoNormal">
        上级党组织：石园街道石园南区党总支<span></span>
    </p>
    <p class="MsoNormal" align="left">
        书<span>&nbsp; </span>记：安绍武<br>
        委<span>&nbsp; </span>员：杨青旺<span>&nbsp; </span>杨永和<span>&nbsp;</span>
    </p>
    <p class="MsoNormal" align="left">
        正式党员：<span>&nbsp; <span style="color:#E53333;">{{ data.company.0 }}</span></span>人<span>&nbsp;&nbsp; </span><br>
        预备党员：<span>&nbsp;<span style="color:#E53333;">{{ data.company.1 }}</span>&nbsp;&nbsp;</span>人<span>&nbsp;&nbsp; </span><br>
        共 计<span>: <span style="color:#E53333;">{{ data.company.2 }}</span>&nbsp;</span>人<span></span>
    </p>
</span>

</div>

</body>

</html>


<style type="text/css">

.container {

width: 100%;

margin: 50px auto;

overflow: hidden;

border: 1px solid #ccc;

}

.sanhengpai {

display: block;

width: 32%;

height: 300px;

background-color: #DFDFDF;

float: left;

}

div>span+span {

margin-left: 20px;

}

</style>
